@model Contacts.Models.ContactTagViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Contacts" asp-action="Index" method="GET">
    <p>

        <select asp-for="ContactTag" asp-items="Model.Tags">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
